<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body>
        <%- include('../partials/nav.ejs')  %>
		<h1>New Tool</h1>
		<form action="/tools" method="POST">
			Num: <input type="text" name="num" /><br />
			Name: <input type="text" name="name" /><br />
            Brand: <input type="text" name="brand" /><br />
			Description: <input type="textarea" name="description" /><br />
            Date Cal'd: <input type="text" name="dateCal" /><br />
			Date Due: <input type="text" name="dateDue" /><br />
            Inspector: <input type="text" name="inspector" /><br />
			<input type="submit" name="" value="Add Tool" />
		</form>
	</body>
	</body>
</html>